@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  /* Color styles */
  --main-colors-white: #FFFFFF;
  --main-colors-accent: #2950A9;
  --main-colors-black: #07172D;
  
  --text-colors-dark-gray: #202D3F;
  --text-colors-gray: #495667;
  --text-colors-light-gray: #9FA9B7;
  --text-colors-extra-light-gray: #CDD3DA;

  --ui-colors-blue-darkest: #003D99;
  --ui-colors-blue-dark: #005BE3;
  --ui-colors-blue-light: #4C94FF;
  --ui-colors-blue-lightest: #E5F0FF;

  --ui-colors-green-darkest: #19644B;
  --ui-colors-green-dark: #27BE91;
  --ui-colors-green-light: #6BE1BE;
  --ui-colors-green-lightest: #EAFBF6;

  --ui-colors-yellow-darkest: #76490B;
  --ui-colors-yellow-dark: #D28214;
  --ui-colors-yellow-light: #F0B25C;
  --ui-colors-yellow-lightest: #FDF4E8;

  --ui-colors-red-darkest: #990012;
  --ui-colors-red-dark: #E5001C;
  --ui-colors-red-light: #FF4C62;
  --ui-colors-red-lightest: #FFE5E9;

  /* Text-size styles */
  --font-size-header-h1: 3rem;
  --font-size-header-h2: 2.25rem;
  --font-size-header-h3: 1.5rem;
  --font-size-header-h4: 1.25rem;
  --font-size-header-h5: 1.125rem;
  --font-size-header-h6: 1.125rem;
  --font-size-text-main-default: 1rem;
  --font-size-text-small-default: 0.875rem;
}

@import './common/normalize';
@import './common/scrollbars';
@import './common/text';